<h1>Listing Holidays</h1>

<table>
  <tr>
    <th>Employee Name</th>
    <th>Start Date</th>
    <th>Finish Date</th>
    <th></th>
    <th></th>
  </tr>

 <%= render @holidays %>

</table>

<br />

<%= link_to " Create a Holiday", "/holidays" %></li>