<h1>All Employee Holidays</h1>

<table class="table table-striped table-bordered">
	<thead>
  <tr>
    <th>Employee Name</th>
    <th>Start Date</th>
    <th>Finish Date</th>
    <th></th>
    <th></th>
</tr>
  </thead>
<tbody>

 <%= render @holidays %>

</tbody>

</table>

<br />

<%= link_to " Create a Holiday", "/holidays" %></li>