<h1>Listing Employees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Rate of Pay</th>
    <th></th>
    <th></th>
  </tr>

 <%= render @employees %>

</table>

<br />

<%= link_to " Create a Employee", "/employees" %></li>