<h1>Listing Rosters</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Employee Name</th>
    <th>Shift</th>
    <th></th>
    <th></th>
  </tr>

 <%= render @rosters %>

</table>

<br />

<%= link_to " Create a Employee", "/rosters" %></li>