<% if @feed_items %>
<table class="table table-striped table-bordered">
	<thead>
  <tr>
    <th>Date</th>
    <th>Employee Name</th>
    <th>Shift Start Time</th>
    <th>Shift Finish Time</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>
    <%= render @feed_items %>
    </tbody>

</table>

<br />
<% end %>